<footer th:fragment="footer" class="footer bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <h5>About Maytri Reality Group</h5>
                <p>Maytri Reality Group is a trusted name in real estate and infrastructure development...</p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-white">Home</a></li>
                    <li><a th:href="@{/projects}" class="text-white">Projects</a></li>
                    <li><a th:href="@{/about_us}" class="text-white">About Us</a></li>
                    <li><a th:href="@{/contact_us}" class="text-white">Contact Us</a></li>
                    <li><a th:href="@{/termsAndConditions}" class="text-white">Terms and conditions</a></li>
                    <li><a th:href="@{/privacyAndPolicy}" class="text-white">Privacy and Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contact Info</h5>
                <ul class="list-unstyled">
                    <li><strong>Address:</strong> 123 Maytri Street, Hyderabad, India</li>
                    <li><strong>Phone:</strong> +91 12345 67890</li>
                    <li><strong>Email:</strong> info@maytrigroup.in</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Follow Us</h5>
                <div class="d-flex gap-2 mt-2">
                    <a href="https://www.facebook.com/Maytribyambhuja/"
                        class="btn btn-outline-light btn-sm">Facebook</a>
                    <a href="https://x.com/maytrigroup" class="btn btn-outline-light btn-sm">Twitter</a>
                    <a href="https://www.instagram.com/maytri__group/"
                        class="btn btn-outline-light btn-sm">Instagram</a>
                </div>
            </div>
        </div>
        <hr class="bg-light mt-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Maytri Reality Group. All Rights Reserved.</p>
        </div>
    </div>
</footer>